name: Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
      - run: node build.js
      - uses: JamesIves/github-pages-deploy-action@4.2.2
        with:
          single-commit: true
          branch: gh-pages
          folder: ./build